<div class="bg-gray-50 py-4">
    <div class="header py-32 mt-5 border border-gray-400 border-dashed">
        <div class="w-[80%] mx-auto">
            <div class="flex">
                <div class="w-[50%]">
                    <h1 class="text-6xl font-bold">Покупайте фриланс-услуги в <span class="text-green-500">два
                            клика</span></h1>
                    <p class="text-3xl">Ворк — единица работы продавца, которую можно купить как товар в магазине </p>
                    <div class="w-[80%] flex rounded-2xl border-gray-400 mt-20 bg-gray-200">
                        <input type="text" placeholder="Поиск услуг"
                            class="w-full py-6 px-8 border-0 outline-0 text-3xl" />
                        <button class="bg-orange-400 text-black text-2xl rounded-2xl py-4 px-8">Поиск</button>
                    </div>
                    <h3 class="text-3xl mt-20">Выберите рубрику, чтобы начать</h3>
                    <div class="flex flex-wrap gap-5 text-2xl mt-10">
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Тексты и переводы</span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Разработка</span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Дизайн</span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Аудио, видео монтаж </span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">SEO и оптимизация</span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Бизнес и жизнь</span>
                        <span class="border rounded-2xl border-gray-200 py-4 px-8">Соцсети и реклама</span>
                        <span class="border rounded-2xl border-orange-500 text-orange-500 py-4 px-8">Все
                            категории</span>
                    </div>
                </div>
                <div class="w-[50%] pl-10 flex justify-end">
                    <img class="w-[80%] my-[-50px] object-cover ..." src="/image.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-50">
    <div class="w-[80%] mx-auto">
        <div class="pt-32">
            <h2 class="font-bold text-5xl">Актуальные ворки</h2>
            <div class="grid grid-cols-3 gap-5 my-10">

                <div class="bg-white border-2 border-gray-200 rounded-3xl p-8">
                    <div class="flex items-center gap-10 mb-8">
                        <img src="/person.png" alt="">
                        <h3 class="font-bold text-4xl">Сделать дизайн интернет-магазина</h3>
                    </div>
                    <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at
                        hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec
                        cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                    <button
                        class="w-full mt-10 text-green-500 border-2 border-green-500 text-3xl rounded-2xl py-4 px-8">Посмотреть</button>
                </div>

                <div class="bg-white border-2 border-gray-200 rounded-3xl p-8">
                    <div class="flex items-center gap-10 mb-8">
                        <img src="/person.png" alt="">
                        <h3 class="font-bold text-4xl">Сделать дизайн интернет-магазина</h3>
                    </div>
                    <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at
                        hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec
                        cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                    <button
                        class="w-full mt-10 text-green-500 border-2 border-green-500 text-3xl rounded-2xl py-4 px-8">Посмотреть</button>
                </div>

                <div class="bg-white border-2 border-gray-200 rounded-3xl p-8">
                    <div class="flex items-center gap-10 mb-8">
                        <img src="/person.png" alt="">
                        <h3 class="font-bold text-4xl">Сделать дизайн интернет-магазина</h3>
                    </div>
                    <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at
                        hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec
                        cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                    <button
                        class="w-full mt-10 text-green-500 border-2 border-green-500 text-3xl rounded-2xl py-4 px-8">Посмотреть</button>
                </div>

                <div class="bg-white border-2 border-gray-200 rounded-3xl p-8">
                    <div class="flex items-center gap-10 mb-8">
                        <img src="/person.png" alt="">
                        <h3 class="font-bold text-4xl">Сделать дизайн интернет-магазина</h3>
                    </div>
                    <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at
                        hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec
                        cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                    <button
                        class="w-full mt-10 text-green-500 border-2 border-green-500 text-3xl rounded-2xl py-4 px-8">Посмотреть</button>
                </div>

                <div class="bg-white border-2 border-gray-200 rounded-3xl p-8">
                    <div class="flex items-center gap-10 mb-8">
                        <img src="/person.png" alt="">
                        <h3 class="font-bold text-4xl">Сделать дизайн интернет-магазина</h3>
                    </div>
                    <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed leo at
                        hendrerit dictum diam, enim. Dolor in imperdiet ultrices mauris. Est vitae vulputate est nec
                        cras. Turpis nunc ornare nulla neque, interdum. At pharetra consectetur nec est convallis...</p>
                    <button
                        class="w-full mt-10 text-green-500 border-2 border-green-500 text-3xl rounded-2xl py-4 px-8">Посмотреть</button>
                </div>

                <div class="bg-gray-200 border-2 border-gray-200 rounded-3xl relative">
                    <div class="w-full absolute top-[50%] translate-y-[-50%]">
                        <h2 class="w-full text-4xl text-green-500 text-center">Смотреть все ворки</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-32">
            <h2 class="font-bold text-5xl mb-5">Как решать задачи на WorkTap?</h2>
            <p class="text-3xl">Идеально подходит для бизнеса и частных лиц</p>

            <div class="grid grid-cols-3 justify-between gap-10 mt-20">
                <div class="item">
                    <img src="/icon-3.png" class="mb-5 aspect-3/3 object-cover" alt="">
                    <h2 class="font-bold text-4xl mb-5">Выберите услугу</h2>
                    <p class="text-3xl">В супермаркете WorkTap представлен широкий выбор услуг от квалифицированных
                        специалистов.</p>
                </div>

                <div class="item">
                    <img src="/icon-2.png" class="mb-5 aspect-3/3 object-cover" alt="">
                    <h2 class="font-bold text-4xl mb-5">Оплатите</h2>
                    <p class="text-3xl">Деньги будут перечислены продавцу после того, как он выполнит работу, и вы её
                        одобрите. </p>
                </div>

                <div class="item">
                    <img src="/icon-3.png" class="mb-5 aspect-3/3 object-cover" alt="">
                    <h2 class="font-bold text-4xl mb-5">Получите результат</h2>
                    <p class="text-3xl">Наш супермаркет гарантирует вам возврат средств в полном объёме в случае
                        невыполнения заказа.</p>
                </div>
            </div>
        </div>
    </div>
</div>